
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_mycustomlayout.cshtml";
}



<form id="frmChangePassword" action="#" class="job-sign-from">
    <input type="submit" style="display:none" />
    <div class="form-group" style="padding-top:20px;"><input id="OLDPASSWORD" name="RATING" type="text" placeholder="Old Password" min="0" max="5" class="form-control" required /></div>
    <div class="form-group" style="padding-top:20px;"><textarea id="NEWPASSWORD" name="PASSWORD" type="text" placeholder="New Password" class="form-control" required></textarea></div>
    @*<div class="form-group">
            <div class="flex-group">
                <div class="left"><label class="checkbox-inline"><input type="checkbox" class="" />Keep me logged in</label></div>
                <div class="right">  <a href="#" class="sign-from-link">Forgot password?</a> </div>
            </div>
        </div>*@
    <div id="ErrMsgDiv" class="form-group" style="padding-top:20px;text-align:left;display:none;">
        <span id="ErrMsg" style="color: red;font-weight: 600;"></span>
    </div>
    <div class="form-group" style="padding-top:20px;">
        <button style="height:45px;" class="btn btn--secondary btn--rounded" type="button" onclick="submitbtn();">Submit</button>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
 $(document).keypress(function (e) {
        if (e.which == 13) {
            e.preventDefault();
            if ($("#EMAIL").val()) {
                if ($("#PASSWORD").val()) {
                    LogIn();
                }
                else {
                    $("#PASSWORD").focus();
                }
            }
            else {
                $("#EMAIL").focus();
            }
        }
    })

    $("input").keypress(function (e) {
        $("#ErrMsg").text('');
        $("#ErrMsgDiv").hide();
    })


    function ChangePassword() {

        if ($('#frmChangePassword')[0].checkValidity()) {
            swal('Please wait');
            swal.showLoading();
            var obj = {};
            obj.OLDPASSWORD = OLDPASSWORD;
            obj.NEWPASSWORD = NEWPASSWORD;

          
            $.post("/Home/ChangePassword", obj, function (data) {
                swal.close();
                if (data == "@(FoodOrder.Shared.Constants.MSG_SUCCESS.Text)") {
                location.href = "/Home/Login";
                }
                else if (data == "Invalid Password") {
                //var msg = "Incorrect Username or Password!"
                 var msg = "Invalid Password"
                $("#ErrMsg").text(msg);
                $("#ErrMsgDiv").show();
                $("#OLDPASSWORD").focus();
                }
               
                })
                }
                else {
                $('#frmLogin').find(':submit').click();
                }
            }
    <script>
    }