<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
    <!-- Document Meta
    ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Elegant Restaurant & Cafe Html5 Template by zytheme">
    <link href="assets/images/favicon/favicon.png" rel="icon">

    <!-- Fonts
    ============================================= -->
    <link href='http://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700,900%7CRuthie%7CAbril+Fatface' rel='stylesheet' type='text/css'>

    <!-- Stylesheets
    ============================================= -->
    <link href="assets/css/external.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>Steak In | Elegant Restaurant & Cafe Html5 Template</title>
</head>

<body>
    <div class="preloader">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="wrapper clearfix">
<header id="navbar-spy" class="header header-1 header-transparent header-fixed">
    <nav id="primary-menu" class="navbar navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="logo" href="index.html">
                    <img class="logo-light" src="assets/images/logo/logo-light.png" alt="Steakin Logo" draggable="false">
                    <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Steakin Logo" draggable="false">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                <ul class="nav navbar-nav nav-pos-right navbar-left">
                    <!-- Home Menu -->
                <li>
                    <a class="menu-item" href="index.html">Home</a>
                </li>

                <li>
                    <a class="menu-item" href="menu.html">Menu</a>
                </li>

                <li>
                    <a class="menu-item" href="elements-contact-form.html">Feedback</a>
                </li>

                <li class="has-dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item"><img src="ProfilePic.jpg" style="border-radius: 100px" height="50cm" width="50cm"></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="profile.html"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="changepassword.html"><i class="fa fa-gear"></i> Change Password</a>
                        </li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </li>

                </ul>
                <!-- Module Reservation  -->


                <!-- Module Cart -->
            <div class="module module-cart pull-left">
                <div class="module-icon cart-icon">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="title">shop cart</span>
                    <label class="module-label">2</label>
                </div>
                <div class="module-content module-box cart-box">
                    <div class="cart-overview">
                        <ul class="list-unstyled">
                            <li>
                                <img class="img-responsive" src="assets/images/shop/thumb/6.jpg" alt="product" />
                                <div class="product-meta">
                                    <h5 class="product-title">Red Tape Shoes</h5>
                                    <p class="product-price">1 x $ 34.00</p>
                                </div>
                                <a class="cart-cancel" href="#">cancel</a>
                            </li>
                            <li>
                                <img class="img-responsive" src="assets/images/shop/thumb/7.jpg" alt="product" />
                                <div class="product-meta">
                                    <h5 class="product-title">Brave Sweater</h5>
                                    <p class="product-price">1 x $ 32.00</p>
                                </div>
                                <a class="cart-cancel" href="#">cancel</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-total">
                        <div class="total-desc">
                            Subtotal:
                        </div>
                        <div class="total-price">
                            $73.00
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="cart--control">
                        <a class="btn btn--primary btn--block btn--rounded mb-10" href="shop-cart.html">view cart</a>
                        <a class="btn btn--white btn--bordered btn--rounded btn--block" href="#">Checkout</a>
                    </div>
                </div>
            </div>
            <!-- .module-cart end -->
            
            </div>

        </div>
        <!-- /.container-fluid -->
    </nav>

</header>
<!-- Hero Section
====================================== -->
<section id="slider" class="slider slide-overlay-dark">
    <!-- START REVOLUTION SLIDER 5.0 -->
    <div class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider"  data-version="5.0">
            <ul>
                <!-- slide 1 -->
                <li data-transition="turnoff-vertical"
                    data-slotamount="default" 
                    data-easein="Power4.easeInOut" 
                    data-easeout="Power4.easeInOut" 
                    data-masterspeed="2000">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/sliders/slide-bg/8.jpg" alt="Slide Background Image"  width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-130" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--subheadline">Deals</div>
                    </div>
                    
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-65" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--headline">Deal 1<span style="color: orange"> (In 75/-)</span></div>
                    </div>
                                        
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="20" 
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--bio text--center" style="width: 100%">Egg + Paratha + Colslaw OR Potato Paratha + Raita OR<br>2x Pori + Curry + Pikle OR Chicken Sandwitch + Colslaw
                        </div>                  
                    </div>
                                        
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="100" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                        data-basealign="slide" 
                        data-responsive_offset="on" 
                        data-responsive="off">
                        <div class="slide-action">
                            <a class="btn btn--white btn--bordered btn--rounded" href="#">Add To Cart</a>
                        </div>
                    </div>

                </li>
                
                <!-- slide 1 -->
                <li data-transition="turnoff-vertical"
                    data-slotamount="default" 
                    data-easein="Power4.easeInOut" 
                    data-easeout="Power4.easeInOut" 
                    data-masterspeed="2000">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/sliders/slide-bg/8.jpg" alt="Slide Background Image"  width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-130" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--subheadline">Deals</div>
                    </div>
                    
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-65" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--headline">Deal 2<span style="color: orange"> (In 75/-)</span></div>
                    </div>
                                        
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="20" 
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--bio text--center" style="width: 100%">Egg + Paratha + Colslaw OR Potato Paratha + Raita OR<br>2x Pori + Curry + Pikle OR Chicken Sandwitch + Colslaw
                        </div>                  
                    </div>
                                        
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="100" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                        data-basealign="slide" 
                        data-responsive_offset="on" 
                        data-responsive="off">
                        <div class="slide-action">
                            <a class="btn btn--white btn--bordered btn--rounded" href="#">Add To Cart</a>
                        </div>
                    </div>

                </li>
                
                <!-- slide 1 -->
                <li data-transition="turnoff-vertical"
                    data-slotamount="default" 
                    data-easein="Power4.easeInOut" 
                    data-easeout="Power4.easeInOut" 
                    data-masterspeed="2000">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/sliders/slide-bg/8.jpg" alt="Slide Background Image"  width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-130" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--subheadline">Deals</div>
                    </div>
                    
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-65" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--headline">Deal 3<span style="color: orange"> (In 75/-)</span></div>
                    </div>
                                        
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="20" 
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--bio text--center" style="width: 100%">Egg + Paratha + Colslaw OR Potato Paratha + Raita OR<br>2x Pori + Curry + Pikle OR Chicken Sandwitch + Colslaw
                        </div>                  
                    </div>
                                        
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="100" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                        data-basealign="slide" 
                        data-responsive_offset="on" 
                        data-responsive="off">
                        <div class="slide-action">
                            <a class="btn btn--white btn--bordered btn--rounded" href="#">Add To Cart</a>
                        </div>
                    </div>

                </li>
                
                <!-- slide 1 -->
                <li data-transition="turnoff-vertical"
                    data-slotamount="default" 
                    data-easein="Power4.easeInOut" 
                    data-easeout="Power4.easeInOut" 
                    data-masterspeed="2000">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/sliders/slide-bg/8.jpg" alt="Slide Background Image"  width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-130" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--subheadline">Deals</div>
                    </div>
                    
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-65" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--headline">Deal 4<span style="color: orange"> (In 75/-)</span></div>
                    </div>
                                        
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="20" 
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--bio text--center" style="width: 100%">Egg + Paratha + Colslaw OR Potato Paratha + Raita OR<br>2x Pori + Curry + Pikle OR Chicken Sandwitch + Colslaw
                        </div>                  
                    </div>
                                        
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="100" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                        data-basealign="slide" 
                        data-responsive_offset="on" 
                        data-responsive="off">
                        <div class="slide-action">
                            <a class="btn btn--white btn--bordered btn--rounded" href="#">Add To Cart</a>
                        </div>
                    </div>

                </li>
                
                <!-- slide 1 -->
                <li data-transition="turnoff-vertical"
                    data-slotamount="default" 
                    data-easein="Power4.easeInOut" 
                    data-easeout="Power4.easeInOut" 
                    data-masterspeed="2000">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/sliders/slide-bg/8.jpg" alt="Slide Background Image"  width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-130" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--subheadline">Deals</div>
                    </div>
                    
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="-65" 
                        data-whitespace="nowrap"
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--headline">Deal 5<span style="color: orange"> (In 75/-)</span></div>
                    </div>
                                        
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="20" 
                        data-width="none"
                        data-height="none"
                        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-responsive_offset="on">
                        <div class="slide--bio text--center" style="width: 100%">Egg + Paratha + Colslaw OR Potato Paratha + Raita OR<br>2x Pori + Curry + Pikle OR Chicken Sandwitch + Colslaw
                        </div>                  
                    </div>
                                        
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption" 
                        data-x="center" data-hoffset="0" 
                        data-y="center" data-voffset="100" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-splitin="none" 
                        data-splitout="none" 
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
                        data-basealign="slide" 
                        data-responsive_offset="on" 
                        data-responsive="off">
                        <div class="slide-action">
                            <a class="btn btn--white btn--bordered btn--rounded" href="#">Add To Cart</a>
                        </div>
                    </div>

                </li>
                

            </ul>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>
    <!-- END OF SLIDER WRAPPER -->
</section>

<br>
<!-- banner#1
============================================= -->

<!-- #banner1 end -->

<!-- Divider #1
============================================= -->

<!-- #divider1 end -->

<!-- Banner#6
============================================= -->

<!-- #banner6 end -->

<!-- Divider #1
============================================= -->

<!-- #divider1 end -->

<!-- Menu Classic
============================================= -->
<!-- #menuClassic end -->

<!-- Divider #1
============================================= -->

<!-- #divider1 end -->

<!-- Team #1
============================================= -->

<!-- #divider1 end -->

<!-- Testimonial #3
============================================= -->

<!-- #testimonial3 end -->

<!-- Divider #1
============================================= -->

<!-- #divider1 end -->

<!-- Reservation #2
============================================= -->
<!-- #reservation2 end -->
<!-- footer#1
============================================= -->
<footer id="footer" class="footer footer-6">
    <!-- Copyrights
    ============================================= -->
    <div class="footer--copyright">
        <div class="divider--shape-dark"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <span>&copy; 2017 ABC Foods, With Love by </span> <a href="http://themeforest.net/user/7oroof/portfolio?ref=zytheme">7oroof.com</a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                    <img src="visa.jpg" height="40%" width="40%">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="footer--widget-content text-center">
                        <div class="footer--social-icons">
                            <span class="mr-10">Follow Us </span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                           <!--  <a href="#"><i class="fa fa-twitter"></i></a> -->
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <!-- <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a> -->
                        </div>
                        <!-- .social-icons end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-copyright end -->
</footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/functions.js"></script>
<!-- RS5.0 Core JS Files -->
<script src="assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script src="assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- RS Configration JS Files -->
<script src="assets/js/rsconfig.js"></script>
</body>

</html>
